.offcanvas-title{
color:blanchedalmond;
}

.nav-item a button{
    font-size: 20px;
}
#offcanvasWithBothOptions{
    width: 230px;
}
footer{
    bottom:0px;
    width:100%;
    position: relative;
    color:blanchedalmond;
}
html,
body,
    #container {
      width: 100%;
      height: 450px;
      margin: 0;
      padding: 0;
    }


