

footer{
    bottom:0px;
    width:100%;
    position: relative;
}

button{
    margin: 5px;
    text-align: center;
}
html,
body,
    #container {
      width: 100%;
      height: 450px;
      margin: 0;
      padding: 0;
    }

  #menu{
      margin-bottom: 20px;
  }


