<!DOCTYPE html>
<html lang='pt-br'>
    <head>

      <!--TITULO DO SITE-->

        <title>Medidor de Vazão</title>

        <!--PARA O SITE FUNCIONAR PERFEITAMENTE EM GRANDE PARTE DOS NAVEGADORES-->

        <meta charset="UTF-8" />

        <!--ADICIONA IMAGEM AO ICONE DO SITE-->

        <link rel="icon" type="imagem/png" href="img/Logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--LINK PARA BOOTSTRAP-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"crossorigin="anonymous" />
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity= "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                
        <!--LINK PARA JQUERY-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
        <style>
            
            /* CENTRALIZA O TITULO */

            #title{
                text-align: center;
            }

            /* DEFINE A COR DO CORPO DA PAGINA */

            body{
                background-color: #1E90FF;
            }

            /* CENTRALIZA A IMAGEM E DEFINE A MARGEM DE BAIXO */

            #img{
                text-align: center;
                margin-bottom: 60px;
            }

            /* AJUSTA OS CONTAINERS*/

            .container{
                border-width: 20px;
                margin-top:20px;
                max-width: 700px;
            }
            .col-auto{
                margin:auto;
                border-width: 10px;
            }

            /* AJUSTA POSIÇÃO E MARGEN DE BOTÃO */

            #envia_c{
                text-align: center;
                margin:auto;
                margin-top:20px;
            }

            /* AJUSTA FOOTER DO MODAL */

            #footer_modal{
                margin: auto;
            }
        </style>

<script>
$(document).ready(function(){
    $("#envia_cad").click(function(){
        $('#envia_cad').hide();
        $('#cancelar').hide();
        $('#envia').show();
    });
  });
</script>

        <body>

                <!--CONTAINER -->

<div class="container">

                <!--ICON DE LOGIN-->

                <div id="img">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                </div>

                <!--FORMULARIO PARA CADASTRO-->

                <form action="/Cadastro" method="POST" class="row g-3">

                    <!--RECEBE O NOME-->

                    <div class="col-md-4">
                        <label for="cad_nome" class="form-label">Nome:</label>
                        <input type="text" name="cad_nome" class="form-control" id="cad_nome" placeholder="Digite seu nome" MAXLENGTH=50>
                      </div>
                    
                      <!--RECEBE O SOBRENOME-->

                      <div class="col-md-4">
                        <label for="cad_sobrenome" class="form-label">Sobrenome:</label>
                        <input type="text" name="cad_sobrenome" class="form-control" id="cad_sobrenome" placeholder="Digite seu sobrenome" MAXLENGTH=100>
                      </div>

                      <!--RECEBE O USER-->

                      <div class="col-md-4">
                        <label for="cad_usuario" class="form-label">Usuario:</label>
                        <input type="text" name="cad_usuario" class="form-control" id="cad_usuario" placeholder="Crie um nome de usuario" MAXLENGTH=15>
                      </div>


                      <!--RECEBE A DATA DE NASCIMENTO-->

                      <div class="col-md-4">
                        <label for="DataNasci" class="form-label">Data de Nascimento:</label>
                        <input type="date" value="" name="DataNasci" class="form-control" id="DataNasci">
                      </div>

                      <!--RECEBE A SENHA-->

                    <div class="col-md-6">
                      <label for="cad_senha" class="col-sm-2 col-form-label" >Senha:</label>
                      <input type="password" name="cad_senha" class="form-control" id="cad_senha" placeholder="Digite sua senha" MAXLENGTH=10 MINLENGTH=8>   
                </div>

                <!--RECEBE O NUMERO DE TELEFONE-->

                <div class="col-md-6">
                    <label for="cad_tel" class="col-sm-2 col-form-label">Telefone:</label>
                    <input type="tel" name="cad_tel" class="form-control" id="cad_tel" placeholder="Ex. 5582999845166" MAXLENGTH=14>   
              </div>

              <!--RECEBE O GENERO-->

              <div class="col-md-4">
              <label class="form-check-label">Genero:</label>

                <div class="form-check">
                    <input class="form-check-input" value="Mulher" type="radio" name="genero" id="m">
                    <label class="form-check-label" for="m">Mulher</label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" value="Homem" type="radio" name="genero" id="h">
                    <label class="form-check-label" for="h">Homem</label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" value="Não binário" type="radio" name="genero" id="nb">
                    <label class="form-check-label" for="nb">Não binário</label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" value="Outro" type="radio" name="genero" id="ou">
                    <label class="form-check-label" for="ou">Outro</label>
                  </div>
              </div>

              <!--RECEBE UMA IMAGEM-->

            <div class="col-md-4">
                <label for="formFile" class="form-label">Foto:</label>
                <input name = "imagem" class="form-control" type="file" accept="image/*" id="formFile">
              </div>

              <!--RECEBE O CARGO-->

              <div class="col-md-4">
                <label for="cargo" class="form-label">Cargo</label>
                <input type="text" name="cargo" class="form-control" id="cargo" placeholder="Ex. Gerente" MAXLENGTH=50>
              </div>

              <!-- BOTÃO QUE ENVIA OS DADOS -->

              <div  id="envia_c" class="col-md-4">
                <button id="envia_cod" type="submit" class="btn btn-dark" >Cadastrar</button>
            </div>

              </form>  
            </div>
        </body>
</html>