<!DOCTYPE html>
<html lang='pt-br'>
<html>
    <head>

      <!--TITULO DO SITE-->

        <title>Medidor de Vazão</title>

        <!--PARA O SITE FUNCIONAR PERFEITAMENTE EM GRANDE PARTE DOS NAVEGADORES-->

        <meta charset="UTF-8" />

        <!--ADICIONA IMAGEM AO ICONE DO SITE-->

        <link rel="icon" type="imagem/png" href="img/Logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--LINK PARA BOOTSTRAP-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        
        
        <!--LINK PARA JQUERY-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!--LINK PARA CHART JS-->
        <script>"https://www.jsdelivr.com/package/npm/chart.js?path=dist"</script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </script>

<style>

/* MUDA COR DO MENU */

.offcanvas-title{
    color:blanchedalmond;
    }

/* MUDA O TAMANHO DA FONTE  DO MENU */    

    .nav-item a button{
        font-size: 20px;
    }

/* MUDA O TAMANHO DO MENU */

    #offcanvasWithBothOptions{
        width: 230px;
    }

/* MARGEM DO MENU */

    nav{
        margin-bottom: 20px;
    }

/* MUDA A COR, TAMANHO E POSIÇÃO DO RODAPÉ */

    footer{
        bottom:0px;
        width:100%;
        position:fixed;
        color:blanchedalmond;
    }

/* ALTERA MARGEN E TAMANHO DO CONTAINER */

    #cadm{
      margin: auto;
      max-width: 400px;
    }

/* ALTERA MARGEN E POSIÇÃO DO CONTAINER */

    #cadt{
      margin-left: 5px;
      margin:auto;
    }
</style>

</head>
<body>  
     <!-- MENU OFFCANVAS-->

     <nav class="navbar navbar-primary bg-primary" >        
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button> 

    <!-- TITULO MENU OFFCANVAS COM BOTÃO PARA FECHAR -->

        <div class="offcanvas offcanvas-start bg-primary" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

    <!-- CORPO DO MENU -->    

            <div class="offcanvas-body">
             <ul class="nav flex-column">

    <!-- BOTÃO QUE REDIRECIONA  PARA O INICIO -->   

                 <li class="nav-item">
                     <a  class="nav-link active" aria-current="page" href="/Inicio"><button  class="btn btn-primary" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                          </svg>
                        Inicio</button></a>
                 </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA O HISTORICO -->  

                 <li class="nav-item">
                    <a  class="nav-link active" aria-current="page" href="Historico"><button  class="btn btn-primary" type="button" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        Historico</button></a>
                </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA O CADASTRO DE MEDIDORES -->   

            <li class="nav-item">
                <a  class="nav-link active" aria-current="page" href="Medidor"><button  class="btn btn-primary" type="button" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                        <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
                      </svg>
                    Medidores</button></a>
            </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA MEDIDORES CADASTRADOS --> 

                <li class="nav-item">
                    <a  class="nav-link active" aria-current="page" href="medidores-cadastrados"><button id="cad" class="btn btn-primary" type="button" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                            <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
                          </svg> Medidores Cadastrados</button></a>
                </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA A LOCALIZAÇÃO -->

                 <li class="nav-item">
                     <a  class="nav-link active" aria-current="page" href="Localizacao"><button  class="btn btn-primary" type="button" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg>
                         Localização</button></a>
                 </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA SEUS DADOS -->

                <li class="nav-item">
                    <a  class="nav-link active" aria-current="page" href="Seus-dados"><button class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                          </svg>
                        Seus dados</button></a>
                </li>
             </ul>
            </div>

    <!-- BOTÃO QUE REDIRECIONA  PARA A SAÍDA -->   

            <a  class="nav-link active" aria-current="page" href="Sair"><button class="btn btn-primary" type="button" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                Sair</button></a>
        </div>
     </nav>

        <!-- CONTAINER -->

  <div id="cadt" class="container">
  <div id="cadm" class="container">
      
     <form action="/" method="POST" class="mb-3 row">

        <!-- ESCOLHE O CODIGO DO MEDIDOR  -->

                <div class="mb-3  row"  data-bs-toggle="tooltip" data-bs-placement="right" title="O medidor deve ter um nome unico">
                  <select class="form-select" aria-label="Default select example">
                  <option selected>Codigo</option>
                    <% for (item of cadastrar_vazoes) { %>
                  <option value=""><%- item.id_medidor %></option>
                  <% } %>
                  </select>
                  </div>


          <!-- RECEBE A VAZÃO -->

                <div class="mb-3  row">
                    <label for="vazao_cad" class="form-label">Vazão em m³/s:</label>
                    <input type="text" name="vazao_cad" class="form-control" id="vazao_cad">
                  </div>

          <!-- RECEBE A DATA -->

                <div class="mb-3  row">
                   <label for="Data" class="form-label">Data:</label>
                  <input type="date" name="Data" class="form-control" id="Data">
                </div>

          <!-- RECEBE A VAZÃO -->

                <div class="mb-3  row">
                   <label for="hora" class="form-label">Horario:</label>
                  <input type="time" name="hora" class="form-control" id="hora">
                  </div>

          <!--ENVIA-->

        <div class="mb-3 row">
          <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
        </div>
      </form>
    </div>
    </div>
    
        <!--RODAPE DA PAGINA-->

        <footer  class="bg-primary text-center text-lg-start">
          <div class="text-center p-3">
              <a id="footer">Oficinas 4.0</a>
            </div>
  </footer>
</body>
</html>