<!DOCTYPE html>
<html lang='pt-br'>
    <head>

      <!--TITULO DO SITE-->

        <title>Medidor de Vazão</title>

        <!--PARA O SITE FUNCIONAR PERFEITAMENTE EM GRANDE PARTE DOS NAVEGADORES-->

        <meta charset="UTF-8" />

        <!--ADICIONA IMAGEM AO ICONE DO SITE-->

        <link rel="icon" type="imagem/png" href="img/Logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!--LINK PARA BOOTSTRAP-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        
        <!--LINK PARA CHART JS-->
    <script>"https://www.jsdelivr.com/package/npm/chart.js?path=dist"</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!--LINK PARA JQUERY-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        


        <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <style>

/* Altera a cor do titulo do menu */

        .offcanvas-title{
    color:blanchedalmond;
    }
    
/* Almenta o tamanho do botão do menu */

    .nav-item a button{
        font-size: 20px;
    }

/* Altera o tamanho do menu */

    #offcanvasWithBothOptions{
        width: 230px;
    }

/* Coloca posição, tamanho e cor no rodapé */

    footer{
        bottom:0px;
        width:100%;
        position:fixed;
        color:blanchedalmond;
    }

/* Altera tamanho e  posição do container onde está os botões que atualizam o grafico*/

    .container{
        margin-top: 50px;
    }

/* Coloca uma margem de 20px no menu*/

    nav{
        margin-bottom: 20px;
    }

/* Muda posição, altura minima, tamanho minimo e tamanho maximo do container onde está o grafico*/
    
    canvas{
        max-width: 600px;
        min-height:200px;
        min-width: 300px;
    }

    #pesq2{
       font-size: 14px;
    }
    #bott{
       max-width: 100px;
    }
    #bott2{
       max-width: 120px;
       min-width: 100px;
    }
    #qua{
        margin-bottom: 50px;
        width: 100%;
        margin:auto;
    }
        #map {
        height: 300px;
        width: 100%;    
    }
    #mapa {
    min-width: 300px;
    margin-top: 5px;
    margin-bottom: 50px;

    }
    #pesq_m{
        margin: 2px;
    }
    .chart-container{
        min-width:300px;
        max-width: 800px;
    }
    #cont-graf{
        margin-top: 50px;
    }
    #liveToast{
        font-size: 16px;
    }
    </style>
    <script>

// MOSTRA AS NOTIFICAÇÕES APOS CLICAR NO SINO

$(document).ready(function(){
    $("#liveToastBtn").click(function(){
        $('.toast').toast("show")
    });
  });

// ENVIA  A LONGITUDE E A LATITUDE DO MAPA

var dados_mapa = [];
$(document).ready(function() {
    $.get('/dados_mapa', function(res) {
        dados_mapa = res;
    })
});

// jquery que chama os dados do render lá do app.js para um outro array

var dados_grafico = [];
$(document).ready(function() {
    $.get('/dados_grafico', function(res) {
        dados_grafico = res;
    })
});
    </script>
</head>
<body>  

    <!-- MENU OFFCANVAS-->

    <nav class="navbar navbar-primary bg-primary" >
   <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" >
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
   </button>
   
    <!-- TITULO MENU OFFCANVAS COM BOTÃO PARA FECHAR -->   

   <div class="offcanvas offcanvas-start bg-primary" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasScrollingLabel">
       <div class="offcanvas-header">
           <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
           <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
       </div>

    <!-- CORPO DO MENU -->

       <div class="offcanvas-body">
        <ul class="nav flex-column">

    <!-- BOTÃO QUE REDIRECIONA  PARA O HISTORICO -->

            <li class="nav-item">
                <a  class="nav-link active" aria-current="page" href="Historico">
                    <button  class="btn btn-primary" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        Historico</button></a>
            </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA CADASTRAR MEDIDORES -->

            <li class="nav-item">
                <a  class="nav-link active" aria-current="page" href="Medidor"><button  class="btn btn-primary" type="button" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                        <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
                      </svg>
                    Medidores</button></a>
            </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA A LOCALIZAÇÃO -->

            <li class="nav-item">
                <a  class="nav-link active" aria-current="page" href="Localizacao"><button  class="btn btn-primary" type="button" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                    Localização</button></a>
            </li>

    <!-- BOTÃO QUE REDIRECIONA  PARA OS SEUS DADOS -->

            <li class="nav-item">
                <a  id="dados" class="nav-link active" aria-current="page" href="Seus-dados"><button  class="btn btn-primary" type="button" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg>
                    Seus dados </button></a>
            </li>
        </ul>
       </div>

    <!-- BOTÃO QUE REDIRECIONA  PARA A SAIDA -->

       <a  class="nav-link active" aria-current="page" href="Sair"><button  class="btn btn-primary" type="button" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        Sair</button></a>
   </div>

    <!-- BOTÃO DE NOTIFICAÇÕES -->

   <button onclick="datahora();" type="button" class="btn btn-primary" id="liveToastBtn">
    <span class="badge bg-danger">Aviso</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg>
    </button>
</nav>

    <!-- TOAST QUE MOSTRA AS NOTIFICAÇÕES -->

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg>
        <strong class="me-auto"> | Erro</strong>
        <small id="dataa"></small>

    <!-- INFORMA A HORA ATUAL DESDE QUE BOTÃO FOR CLICADO -->

    <script>
    function datahora(){
        var dataAtual = new Date();
        var horas = dataAtual.getHours();
        var minutos = dataAtual.getMinutes();
        var data_hora = horas + ":" + minutos;
    document.getElementById("dataa").innerHTML = data_hora;
}
    </script>

    <!-- BOTÃO QUE FECHA A NOTIFICAÇÃO -->

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Olá
        <dados_grafico 4=""></dados_grafico>
        , não há notificações!
    </div>
    </div>
  </div>

<!-- GRAFICO -->

<div class = "container">

<!-- FORMULARIO PARA  MOSTRAR SEUS MEDIDORES E A LOCALIZAÇÃO DELES  -->

    <form action="/Inicio" method="POST">
    <div id="qua" class="row justify-content-between">
    <div id="bott" class="btn-group col-3">

<!-- BOTÃO QUE RECEBE A VAZÃO EM METROS POR SEGUNDO -->

      <button type="button" onclick="ms();" class="btn btn-primary">m³/s</button>

<!-- BOTÃO QUE RECEBE A VAZÃO EM LITROS POR HORA -->

      <button type="button" onclick="lh();"  class="btn btn-primary">L/h</button>

    </div>

<!-- BOTÃO QUE MOSTRA/OCULTA A LOCALIZAÇÃO -->

        <div class="col-3">
        <button type="button" id="local"  class="btn btn-primary">Localização</button>
        </div>

<!-- SELETOR QUE MOSTRA OS MEDIDORES  -->

    <div class="col-4">
                  <select name="medidor_grafico" class="form-select" aria-label="Default select example">
                  <option selected>Medidores</option>
                    <% for (item of Index) { %>
                  <option  value=""><%- item.nome_medidor %></option>
                  <% } %>
                  </select>
        </div>

<!-- BOTÃO QUE  OS DADOS DE ACORDO COM O QUE FOI SELECIONADO NOS BOTÕES ANTERIORES  -->

    <div class="col-3" id="pesq_m">
        <button type="submit" onclick="localizacao();"  class="btn btn-primary">Procurar</button>
        </div>
    </div>
    </form>

<!-- CONTAINER DO GRAFICO E DO MAPA -->

         <div id="cont-graf" class="row justify-content-center">
            <div class="row">
            <div class="col">
            <div id = "chart-container">
                <canvas id="grafico"></canvas>
            </div>
            </div>

            <div class="col" id='mapa'>
                <div id='map'></div>
            </div>

<!-- CODIGO DO MAPA -->

<script>

$(document).ready(function(){
    $("#local").click(function(){
      $("#map").fadeToggle("slow");
    });
  });

var longitude = dados_mapa[0];
var latitude = dados_mapa[1]
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2hlY2hlbHkiLCJhIjoiY2txeTU0ZXFzMGlsaTJvcXVudmFzb2l5NCJ9.zFnq--QMlrOAjPHazAaapw';
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center : [-36.6558194,-9.4069362],
      zoom:17
  });
  function localizacao(){
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center : [longitude,latitude],
      zoom:17
  });
  }
  var size = 100;

  // This implements `StyleImageInterface`
  // to draw a pulsing dot icon on the map.
  var pulsingDot = {
      width: size,
      height: size,
      data: new Uint8Array(size * size * 4),

      // When the layer is added to the map,
      // get the rendering context for the map canvas.
      onAdd: function () {
          var canvas = document.createElement('canvas');
          canvas.width = this.width;
          canvas.height = this.height;
          this.context = canvas.getContext('2d');
      },

      // Call once before every frame where the icon will be used.
      render: function () {
          var duration = 1000;
          var t = (performance.now() % duration) / duration;

          var radius = (size / 2) * 0.3;
          var outerRadius = (size / 2) * 0.7 * t + radius;
          var context = this.context;

          // Draw the outer circle.
          context.clearRect(0, 0, this.width, this.height);
          context.beginPath();
          context.arc(
              this.width / 2,
              this.height / 2,
              outerRadius,
              0,
              Math.PI * 2
          );
          context.fillStyle = 'rgba(255, 200, 200,' + (1 - t) + ')';
          context.fill();

          // Draw the inner circle.
          context.beginPath();
          context.arc(
              this.width / 2,
              this.height / 2,
              radius,
              0,
              Math.PI * 2
          );
          context.fillStyle = 'rgba(255, 100, 100, 1)';
          context.strokeStyle = 'white';
          context.lineWidth = 2 + 4 * (1 - t);
          context.fill();
          context.stroke();

          // Update this image's data with data from the canvas.
          this.data = context.getImageData(
              0,
              0,
              this.width,
              this.height
          ).data;

          // Continuously repaint the map, resulting
          // in the smooth animation of the dot.
          map.triggerRepaint();

          // Return `true` to let the map know that the image was updated.
          return true;
      }
  };

  map.on('load', function () {
      map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });

      map.addSource('dot-point', {
          'type': 'geojson',
          'data': {
              'type': 'FeatureCollection',
              'features': [
                  {
                      'type': 'Feature',
                      'geometry': {
                          'type': 'Point',
                          'coordinates': [-36.6558194,-9.4069362] // icon position [lng, lat]
                      }
                  }
              ]
          }
      });
      map.addLayer({
          'id': 'layer-with-pulsing-dot',
          'type': 'symbol',
          'source': 'dot-point',
          'layout': {
              'icon-image': 'pulsing-dot'
          }
      });
  });

</script>

    </div>
    </div>
    </div>
</div>

<script>

// grafico

// Altera o titulo do grafico

const tituloms = "Vazão: Metros cubicos por segundo";
const titulolh = "Vazão: Litros por hora";

Chart.defaults.font.size = 13;
Chart.defaults.color='#000000';

// Gera o grafico em 2d componentes canva no html

const ctx = document.getElementById('grafico').getContext('2d');

const grafico = new Chart(ctx, {
type: 'line',
data: {
labels: dados_grafico[1],
datasets: [{
label: 'Vazão',
data: dados_grafico[2],

// Cores dos grafico

backgroundColor: [
    'rgba(0,0,205)'
],
fill: false,

// Cor da borda do grafico

borderColor: [
    'rgba(0,0,205)'
],

// Tamanho da borda do grafico

borderWidth: 3,
}],
},

// Personalização do grafico

options: {

// Deixa o grafico responsivo

responsive: true,

// Faz com que o grafico não inicie do zero

scales: {
y: {
    beginAtZero: false,
    display: true,
},
x:{
    beginAtZero: false,
    display: true,
},
},

// Deixa a legenda do grafico em cima e coloca um titulo

plugins: {
legend: {
  position: 'top',
},
title: {
  display: true,
  text: 'Vazão'
},
subtitle: {
        display: true
    }
},

// Cria ondinhas por alguns segundos no grafico

animations: {
tension: {
  duration: 1000,
  easing: 'linear',
  from: 1,
  to: 0,
  loop: false
},
radius: {
duration: 400,
easing: 'linear',
loop: (context) => context.active
}
},
hoverRadius: 12,
hoverBackgroundColor: 'rgba(30,144,255)',
interaction: {
mode: 'nearest',
intersect: false,
axis: 'x'
},
}
});

// funções que irão alterar os dados do grafico quando o botão for clicado

function lh(){

// altera os dados da label 

grafico.data.labels = dados_grafico[1];

// altera os dados do datasets

grafico.data.datasets[0].data = dados_grafico[3];

// Altera o titulo

grafico.options.plugins.title.text = titulolh;
grafico.options.plugins.subtitle.text = dados_grafico[0];

// Atualiza o grafico

grafico.update();
}
function ms() {

// altera os dados da label 

grafico.data.labels = dados_grafico[1];

// altera os dados do datasets

grafico.data.datasets[0].data = dados_grafico[2];

// Altera o titulo

grafico.options.plugins.title.text = tituloms;
grafico.options.plugins.subtitle.text = dados_grafico[0];

// Atualiza o grafico

grafico.update();
}    
</script>

        <!--RODAPE DA PAGINA-->

        <footer  class="bg-primary text-center text-lg-start">
          <div class="text-center p-3">
              <a id="footer">Oficinas 4.0</a>
            </div>
  </footer>
</body>
</html>     