<!DOCTYPE html>
<html lang='pt-br'>
    <head>

      <!--TITULO DO SITE-->

        <title>Medidor de Vazão</title>

        <!--PARA O SITE FUNCIONAR PERFEITAMENTE EM GRANDE PARTE DOS NAVEGADORES-->

        <meta charset="UTF-8" />

        <!--ADICIONA IMAGEM AO ICONE DO SITE-->

        <link rel="icon" type="imagem/png" href="img/Logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!--LINK PARA BOOTSTRAP-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        
        <!--LINK PARA CHART JS-->

        <script>"https://www.jsdelivr.com/package/npm/chart.js?path=dist"</script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!--LINK PARA JQUERY-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        


        <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
        
        <!--BOXICONS CDN LINK-->

        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <style>
body{
        background-color: 	#FFFAFA;
    }
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
    .sidebar{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 80px;
  background: #11101D;
  padding: 4px 10px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 70px;
  min-width: 5px;
  font-size: 28px;
  text-align: center;
  line-height: 70px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* Coloca posição, tamanho e cor no rodapé */

    footer{
        bottom:0px;
        width:100%;
        position:fixed;
        color:blanchedalmond;
        background-color: #11101D;
    }
    #insta{
        color:blanchedalmond;
        margin-left:10px;
    }

/* Altera tamanho e  posição do container onde está os botões que atualizam o grafico*/

    #container{
        max-width: 100%;
        margin-bottom: 70px;
        margin-top: 40px;
        margin-left: 80px;
    }

/* Muda posição, altura minima, tamanho minimo e tamanho maximo do container onde está o grafico*/
    
    canvas{
        max-width: 600px;
        height: 350px;
        min-width: 250px;
    }

    #pesq2{
       font-size: 14px;
    }
    #bott{
       max-width: 100px;
       margin:10px;
    }
    #bott2{
       max-width: 120px;
       min-width: 100px;
    }
    #qua{
        margin-bottom: 50px;
        width: 100%;
        margin:auto;
    }
        #map {
        margin:5px;
        max-width: 600px;
        height: 350px;
        min-width: 300px;   
    }
    #mapa {
    margin:2px;
    margin-top:5px;
    border: 1px solid #DCDCDC;
    box-shadow: 5px 8px 10px #DCDCDC;
    border-radius: 20px;
    min-width: 350px;
    max-width: 600px;
    height: 360px;
    }
    #pesq_m{
        margin-left: 50px;
        margin-top: 5px;
        min-width: 130px;
        max-width: 130px;
    }
    #chart-container{
        margin-bottom:5px;
        margin-top:5px;
        margin:2px;
        border: 1px solid #DCDCDC;
        border-radius: 20px;
        box-shadow: 5px 8px 10px #DCDCDC;
        min-width:350px;
        max-width: 600px;
        max-height: 360px;
    }
    #cont-graf{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }
    #liveToast{
        font-size: 16px;
    }
    .text-center{
        margin-left: 80px;
    }
    #select{
        min-width: 130px;
        max-width: 130px;
    }
    .container{
        max-width: 100%;
        margin:auto;
    }
    .not{
        position: fixed;
    }
    </style>
    <script>

// MOSTRA AS NOTIFICAÇÕES APOS CLICAR NO SINO

$(document).ready(function(){
    $("#liveToastBtn").click(function(){
        $('.toast').toast("show")
    });
  });

// ENVIA  A LONGITUDE E A LATITUDE DO MAPA

var dados_mapa = [];
$(document).ready(function() {
    $.get('/dados_mapa', function(res) {
        dados_mapa = res;
    })
});

var dados_grafico = [];
$(document).ready(function() {
    $.post('/dados_medidor', function(res) {
        dados_grafico = res;
        socket.emit('msg',dados_grafico);
        console.log(dados_grafico);
    });
});
    </script>
</head>
<body>  
    <script src="/socket.io/socket.io.js"></script>
    <!-- MENU OFFCANVAS-->
        <div class="sidebar">
            <div class="logo-details">
                <div class="logo_name">Menu</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <ul class="nav-list">
                <li>
                    <div class="not">
                        <% if (aviso != ''){ %>
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                            <% } %>
                        </div>
                      <i onclick="datahora();" id="liveToastBtn" class='bx bx-bell'>
                      </i>
                    
                  </li>
              <li>
                <a href="/Inicio">
                  <i class='bx bx-home-circle'></i>
                  <span class="links_name">inicio</span>
                </a>
                 <span class="tooltip">Inicio</span>
              </li>
              <li>
               <a href="/Historico">
                 <i class='bx bx-history' ></i>
                 <span class="links_name">Histórico</span>
               </a>
               <span class="tooltip">Histórico</span>
             </li>
             <li>
               <a href="/Localizacao">
                 <i class='bx bx-location-plus' ></i>
                 <span class="links_name">Localização</span>
               </a>
               <span class="tooltip">Localização</span>
             </li>
             <li>
               <a href="/Medidor">
                 <i class='bx bx-message-alt-add' ></i>
                 <span class="links_name">Cadastrar medidor</span>
               </a>
               <span class="tooltip">Medidor</span>
             </li>
             <li>
               <a href="/medidores-cadastrados">
                 <i class='bx bx-tachometer' ></i>
                 <span class="links_name">Medidores cadastrados</span>
               </a>
               <span class="tooltip">Medidores cadastrados</span>
             </li>
             <li>
               <a href="/Cadastrar-medicoes">
                 <i class='bx bx-bar-chart-alt-2' ></i>
                 <span class="links_name">Cadastrar vazões</span>
               </a>
               <span class="tooltip">Cadastrar vazões</span>
             </li>
             <li>
               <a href="/Seus-dados">
                 <i class='bx bx-user' ></i>
                 <span class="links_name">Perfil</span>
               </a>
               <span class="tooltip">Perfil</span>
             </li>
             <li class="profile">
                 <div class="profile-details">
                    <img id="logo" src="img/Logo.png">
                   <div class="name_job">
                     <div class="name">Projeto 1</div>
                     <div class="job">Medidor inteligente</div>
                   </div>
                 </div>
                 <a href="/Sair">
                 <i class='bx bx-log-out' id="log_out" ></i>
                </a>
             </li>
            </ul>
          </div>
          <script>
          let sidebar = document.querySelector(".sidebar");
          let closeBtn = document.querySelector("#btn");
        
          closeBtn.addEventListener("mouseenter", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();
          });
        
          function menuBtnChange() {
           if(sidebar.classList.contains("open")){
             closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
           }else {
             closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
           }
          }
          </script>

<!-- BOTÃO DE NOTIFICAÇÕES -->

<button onclick="datahora();" type="button" class="btn" style="background-color:#282a36 ; color: white;" id="liveToastBtn">
    <% if (aviso != ''){ %>
    <span class="badge bg-danger">Aviso</span>
    <% } %>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg>
    </button>

    <!-- TOAST QUE MOSTRA AS NOTIFICAÇÕES -->
<% if (aviso == ''){ %>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
          </svg>
        <strong class="me-auto">  Notificações</strong>
        <small id="dataa"></small>

    <!-- INFORMA A HORA ATUAL DESDE QUE BOTÃO FOR CLICADO -->

    <script>
    function datahora(){
        var dataAtual = new Date();
        var horas = dataAtual.getHours();
        var minutos = dataAtual.getMinutes();
        var data_hora = horas +  "h" + ":" + minutos + "min";
    document.getElementById("dataa").innerHTML = data_hora;
}
    </script>

    <!-- BOTÃO QUE FECHA A NOTIFICAÇÃO -->

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>

      <div class="toast-body"> 
          <p><%= aviso %></p>
    </div>
    </div>
  </div>
  <% } %>

  <% if (aviso != ''){ %>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
           </svg>
        <strong class="me-auto">  Aviso</strong>
        <small id="dataa"></small>

    <!-- INFORMA A HORA ATUAL DESDE QUE BOTÃO FOR CLICADO -->

    <script>
    function datahora(){
        var dataAtual = new Date();
        var horas = dataAtual.getHours();
        var minutos = dataAtual.getMinutes();
        var data_hora = horas + ":" + minutos;
    document.getElementById("dataa").innerHTML = data_hora;
}
    </script>

    <!-- BOTÃO QUE FECHA A NOTIFICAÇÃO -->

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>

      <div class="toast-body"> 
    </div>
    </div>
  </div>
  <% } %>

<!-- GRAFICO -->
<div class="container">
<div id="container">

<!-- FORMULARIO PARA  MOSTRAR SEUS MEDIDORES E A LOCALIZAÇÃO DELES  -->

    <form action="/Inicio" method="POST">
    <div id="qua" class="row justify-content-start">

<!-- SELETOR QUE MOSTRA OS MEDIDORES  -->

    <div class="col-4">
                  <select name="medidor_grafico" class="form-select" id="select" aria-label="Default select example">
                  <option selected>Medidores</option>
                    <% for (item of Index) { %>
                  <option   value="<%- item.nome_medidor %>"><%- item.nome_medidor %></option>
                  <% } %>
                  </select>
        </div>

<!-- BOTÃO QUE  OS DADOS DE ACORDO COM O QUE FOI SELECIONADO NOS BOTÕES ANTERIORES  -->

    <div class="col-4" id="pesq_m">
        <button type="submit" class="btn btn-outline-primary">Procurar</button>
        </div>
    </div>
    </form>

<!-- CONTAINER DO GRAFICO E DO MAPA -->
         <div id="cont-graf">
            <div class="row">
            <div class="col">
            <div id = "chart-container">
                <div id="bott" class="btn-group col-3">

                    <!-- BOTÃO QUE RECEBE A VAZÃO EM METROS POR SEGUNDO -->
                    
                          <button  type="button" onclick="ms();" class="btn btn-outline-primary">m³/s</button>
                    
                    <!-- BOTÃO QUE RECEBE A VAZÃO EM LITROS POR HORA -->
                    
                          <button type="button" onclick="lh();"  class="btn btn-outline-primary">L/h</button>
                    
                        </div>                
                <canvas id="grafico"></canvas>
            </div>
            </div>

            <div class="col" id='mapa'>
                <div id='map'></div>
            </div>

<!-- CODIGO DO MAPA -->

<script>

$(document).ready(function(){
    $("#local").click(function(){
      $("#map").fadeToggle("slow");
    });
  });

var longitude = dados_mapa[0];
var latitude = dados_mapa[1]
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2hlY2hlbHkiLCJhIjoiY2txeTU0ZXFzMGlsaTJvcXVudmFzb2l5NCJ9.zFnq--QMlrOAjPHazAaapw';
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center : [-36.6558194,-9.4069362],
      zoom:17
  });
  function localizacao(){
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center : [longitude,latitude],
      zoom:17
  });
  }
  var size = 100;

  // This implements `StyleImageInterface`
  // to draw a pulsing dot icon on the map.
  var pulsingDot = {
      width: size,
      height: size,
      data: new Uint8Array(size * size * 4),

      // When the layer is added to the map,
      // get the rendering context for the map canvas.
      onAdd: function () {
          var canvas = document.createElement('canvas');
          canvas.width = this.width;
          canvas.height = this.height;
          this.context = canvas.getContext('2d');
      },

      // Call once before every frame where the icon will be used.
      render: function () {
          var duration = 1000;
          var t = (performance.now() % duration) / duration;

          var radius = (size / 2) * 0.3;
          var outerRadius = (size / 2) * 0.7 * t + radius;
          var context = this.context;

          // Draw the outer circle.
          context.clearRect(0, 0, this.width, this.height);
          context.beginPath();
          context.arc(
              this.width / 2,
              this.height / 2,
              outerRadius,
              0,
              Math.PI * 2
          );
          context.fillStyle = 'rgba(255, 200, 200,' + (1 - t) + ')';
          context.fill();

          // Draw the inner circle.
          context.beginPath();
          context.arc(
              this.width / 2,
              this.height / 2,
              radius,
              0,
              Math.PI * 2
          );
          context.fillStyle = 'rgba(255, 100, 100, 1)';
          context.strokeStyle = 'white';
          context.lineWidth = 2 + 4 * (1 - t);
          context.fill();
          context.stroke();

          // Update this image's data with data from the canvas.
          this.data = context.getImageData(
              0,
              0,
              this.width,
              this.height
          ).data;

          // Continuously repaint the map, resulting
          // in the smooth animation of the dot.
          map.triggerRepaint();

          // Return `true` to let the map know that the image was updated.
          return true;
      }
  };

  map.on('load', function () {
      map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });

      map.addSource('dot-point', {
          'type': 'geojson',
          'data': {
              'type': 'FeatureCollection',
              'features': [
                  {
                      'type': 'Feature',
                      'geometry': {
                          'type': 'Point',
                          'coordinates': [-36.6558194,-9.4069362] // icon position [lng, lat]
                      }
                  }
              ]
          }
      });
      map.addLayer({
          'id': 'layer-with-pulsing-dot',
          'type': 'symbol',
          'source': 'dot-point',
          'layout': {
              'icon-image': 'pulsing-dot'
          }
      });
  });

</script>

    </div>
    </div>
    </div>
</div>
<script>

// grafico
// Altera o titulo do grafico

const tituloms = "Vazão : Metros cubicos por segundo";
const titulolh = "Vazão : Litros por hora";

Chart.defaults.font.size = 13;
Chart.defaults.color='#000000';

// Gera o grafico em 2d componentes canva no html

const ctx = document.getElementById('grafico').getContext('2d');

const grafico = new Chart(ctx, {
type: 'line',
data: {
labels: dados_grafico[1],
datasets: [{
label: 'Vazão',
data: dados_grafico[2],

// Cores dos grafico

backgroundColor: [
    '#B0E0E6'
],
fill: true,

// Cor da borda do grafico

borderColor: [
    '#6495ED'
],

// Tamanho da borda do grafico

borderWidth: 3,
}],
},

// Personalização do grafico

options: {

// Deixa o grafico responsivo

responsive: true,

// Faz com que o grafico não inicie do zero

scales: {
y: {
    beginAtZero: false,
    display: true,
    title: {
        display: true,
        text: 'Vazão',
        lineHeight: 1.2,
    },
},
x:{
    beginAtZero: false,
    display: true,
    title: {
        display: true,
        text: 'Hora',
        lineHeight: 1.2,
    },
},
},

// Deixa a legenda do grafico em cima e coloca um titulo

plugins: {
legend: {
  position: 'top',
},
title: {
  display: true,
  text: 'Vazão'
},
subtitle: {
        display: true
    }
},

// Cria ondinhas por alguns segundos no grafico

animations: {
tension: {
  duration: 1000,
  easing: 'linear',
  from: 1,
  to: 0,
  loop: false
},
radius: {
duration: 400,
easing: 'linear',
loop: (context) => context.active
}
},
hoverRadius: 12,
hoverBackgroundColor: 'rgba(30,144,255)',
interaction: {
mode: 'nearest',
intersect: false,
axis: 'x'
},
}
});

// funções que irão alterar os dados do grafico quando o botão for clicado

function lh(){

// altera os dados da label 

grafico.data.labels = dados_grafico[1];

// altera os dados do datasets

grafico.data.datasets[0].data = dados_grafico[3];

// Altera o titulo

grafico.options.plugins.title.text = titulolh;
grafico.options.plugins.subtitle.text = dados_grafico[0];

// Atualiza o grafico

grafico.update();
}
function ms() {

// altera os dados da label 

grafico.data.labels = dados_grafico[1];

// altera os dados do datasets

grafico.data.datasets[0].data = dados_grafico[2];

// Altera o titulo

grafico.options.plugins.title.text = tituloms;
grafico.options.plugins.subtitle.text = dados_grafico[0];

// Atualiza o grafico

grafico.update();
}    
</script>

        <!--RODAPE DA PAGINA-->

        <footer  class="text-lg">
            <div class="text-lg p-3">
              <div class="text-center">
                <a  id="footer">Oficinas 4.0: Projeto 1 - prototipo de medidor inteligente</a>
                <a style="color:white;" href="https://oficinas40.vitoria.ifes.edu.br/">
                    <i class='bx bx-window'></i></a>                  
              <a style="color:white;" href="https://www.instagram.com/oficinas4.0/">
                    <i class='bx bxl-instagram-alt'></i></a></a>
              </div>
          </div>          
    </footer>
</body>
</html>     