<!DOCTYPE html>
<html lang='pt-br'>
    <head>

      <!--TITULO DO SITE-->

        <title>Medidor de Vazão</title>

        <!--PARA O SITE FUNCIONAR PERFEITAMENTE EM GRANDE PARTE DOS NAVEGADORES-->

        <meta charset="UTF-8" />

        <!--ADICIONA IMAGEM AO ICONE DO SITE-->

        <link rel="icon" type="imagem/png" href="img/Logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--LINK PARA BOOTSTRAP-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

          <style>

            /* CENTRALIZA O TITULO */

            #title{
                text-align: center;
            }

            /* DEFINE O TAMANHO DO CONTAINER JUNTO COM A BORDA EM CIMA */

            .container{
                margin-top: 50px;
                max-width: 400px;
                min-width: 320px;
                border: 1px solid #282a36;
                border-radius: 20px;
                box-shadow: 2px 4px 8px #282a36;
            }
            #login{
                margin:auto;
                width: 300px;
            }

            /* DEFINE A COR DO CORPO DA PAGINA */

            body{
                background-color: #11101D;
            }

            /* CENTRALIZA A IMAGEM E DEFINE A MARGEM DE BAIXO */

            #img{
                text-align: center;
                margin-top: 50px;
            }

            img{
              height: 100px;
              width: 100px;
            }

            #cad{
                margin:auto;
                text-align: center;
            }
            #text{
                text-align: center;
                color:white;
            }
            .form-label,#log_se{
                color:white;
            }
            .container-fluid{
                margin:auto;
            }
        </style>
        <script> 
          $(document).ready(function(){
            $("#img").mouseenter(function(){
              $("#logo").animate({
                opacity: '0.5',
                height: '110px',
                width: '110px',
                left:'5px',
                rigth:'5px',
              },'slow');
            });
            });
            $(document).ready(function(){
            $("#img").mouseenter(function(){
            $("#logo").animate({
                opacity: '1.0',
                height: '100px',
                width: '100px',
              },'slow');
            });
          });
          </script> 
    </head>
        <body>
            <div class="container-fluid">
            <div class="container">
                <div id="login" class="justify-content-center">
                <!--IMAGEM-->

                <div id="img">
                    <img id="logo" src="img/Logo.png">
                </div>
                <!--FORMULARIO PARA LOGIN-->
            <form id="teste" action="/Entrar" method="POST" class="justify-content-center mb-3">

                <!--RECEBE O USUARIO-->
                <div class="mb-3  row">
                    <label for="login_usuario" class="form-label">Usuário:</label>
                    <input type="text" name="login_usuario" class="form-control" id="login_usuario" placeholder="Nome de usuário" MAXLENGTH=15>
                  </div>

                  <!--RECEBE A SENHA-->

                <div class="mb-3  row">
                  <label id="log_se" for="login_senha" class="col-sm-2 col-form-label">Senha:</label>
                  <input type="password" name="login_senha" class="form-control" id="login_senha" placeholder="Digite sua senha" MAXLENGTH=10 MINLENGTH=8>   
            </div>

                  <!--ENVIA-->

                <div class="mb-3 row">
                  <button type="submit" class="btn btn-outline-primary mb-3">Entrar</button>
                  <h6 id="text">Ou</h6>
                  <a id="cad" class="nav-link active mb-3 row" aria-current="page" href="Cadastro"><button  type="button" class="btn btn-outline-primary mb-3">Cadastre-se</button></a> 
                <% if (no_login != ''){ %>
                  <div class="alert alert-danger" role="alert">
                    <%= no_login %>
                   </div>  
                   <% } %>
                </div>            
              </form> 
            </div>  
        </div>
    </div>
        </body>
</html>