<!DOCTYPE html>
<html lang='pt-br'>
    <head>

      <!--TITULO DO SITE-->

        <title>Medidor de Vazão</title>

        <!--PARA O SITE FUNCIONAR PERFEITAMENTE EM GRANDE PARTE DOS NAVEGADORES-->

        <meta charset="UTF-8" />

        <!--ADICIONA IMAGEM AO ICONE DO SITE-->

        <link rel="icon" type="imagem/png" href="img/Logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--LINK PARA BOOTSTRAP-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!--BOXICONS CDN LINK-->

        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
      
          <style>

            /* CENTRALIZA O TITULO */

            #title{
                text-align: center;
            }

            /* DEFINE O TAMANHO DO CONTAINER JUNTO COM A BORDA EM CIMA */

            .container{
                margin-top: 80px;
                margin-bottom: 25px;
                max-width: 450px;
                min-width: 250px;
                border: 1px solid #282a36;
                border-radius: 20px;
                box-shadow: 2px 4px 8px #282a36;
            }
            #login{
                margin:auto;
                max-width: 300px;
            }

            /* DEFINE A COR DO CORPO DA PAGINA */

            body{
                background-color: #11101D;
            }

            /* CENTRALIZA A IMAGEM E DEFINE A MARGEM DE BAIXO */

            #img{
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            img{
              height: 100px;
              width: 100px;
            }

            #cad{
                margin:auto;
                text-align: center;
            }
            #sub{
                margin:auto;
                text-align: center;
            }
            #bt,#bt1,#bt2{
               width: 200px;
            }
            #text{
                text-align: center;
                color:white;
            }
            .form-label,#log_se{
                color:white;
            }
            .container-fluid{
                margin:auto;
            }
        </style>
        <script> 
          $(document).ready(function(){
            $("#img").mouseenter(function(){
              $("#logo").animate({
                opacity: '0.5',
                height: '110px',
                width: '110px',
                left:'5px',
                rigth:'5px',
              },'slow');
            });
            });
            $(document).ready(function(){
            $("#img").mouseenter(function(){
            $("#logo").animate({
                opacity: '1.0',
                height: '100px',
                width: '100px',
              },'slow');
            });
          });
          </script> 
    </head>
        <body>
            <div class="container-fluid">
            <div class="container">
                <div class="justify-content-center">
                <div id="login">
                <!--IMAGEM-->

                <div id="img">
                    <img id="logo" src="img/Logo.png">
                </div>
                <!--FORMULARIO PARA LOGIN-->
            <form id="teste" action="/Entrar" method="POST" class="justify-content-center mb-3">

                <!--RECEBE O USUARIO-->

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bx bxs-user"></i></span>
                    <input type="text" class="form-control" name="login_usuario" id="login_usuario" placeholder="Usuário" aria-label="Usuário" aria-describedby="Usuário" MAXLENGTH=15>
                  </div>

                  <!--RECEBE A SENHA-->
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bx bxs-key"></i></span>
                    <input name="login_senha"  id="login_senha" type="password" class="form-control" placeholder="Senha" MAXLENGTH=10 MINLENGTH=8 aria-label="Senha" aria-describedby="Senha">
                  </div>

                  <!--ENVIA-->

                <div id="sub" class="mb-3">
                  <button id="bt"  type="submit" class="btn btn-outline-primary mb-3">Entrar</button>
                  <a id="cad" class="nav-link active" aria-current="page" href="Cadastro"><button id="bt1"  type="button" class="btn btn-outline-primary mb-3">Cadastre-se</button></a>
                  <a id="cad" class="nav-link active" aria-current="page" href="Nova-senha"><button id="bt2"  type="button" class="btn btn-outline-primary mb-3">Esqueci a senha</button></a> 
                <% if (no_login != ''){ %>
                  <div style="background-color: #11101D; color:red; border: 1px solid #282a36;" class="alert alert-danger" role="alert">
                    <%= no_login %>
                   </div>  
                   <% } %>
                </div>            
              </form> 
            </div>
            </div>  
        </div>
    </div>
        </body>
</html>