<!DOCTYPE html>
<html lang='pt-br'>
<html>
    <head>

      <!--TITULO DO SITE-->

        <title>Medidor de Vazão</title>

        <!--PARA O SITE FUNCIONAR PERFEITAMENTE EM GRANDE PARTE DOS NAVEGADORES-->

        <meta charset="UTF-8" />

        <!--ADICIONA IMAGEM AO ICONE DO SITE-->

        <link rel="icon" type="imagem/png" href="img/Logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--LINK PARA BOOTSTRAP-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"crossorigin="anonymous" />
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity= "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
                
        
        <!--LINK PARA JQUERY-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
 
<style>

/* DEFINE A COR DE FUNDO DO SITE */

body{
        background-color:#F8F8FF;
    }

    *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* AJUSTA TAMANHO, POSIÇÃO, TRANSIÇÃO E COR DE FUNDO DO MENU */

.sidebar{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 80px;
  background: #11101D;
  padding: 4px 10px;
  z-index: 99;
  transition: all 0.5s ease;
}

/* AJUSTA O TAMANHO DO MENU QUANDO ESTIVER ABERTO */

.sidebar.open{
  width: 250px;
}

/* AJUSTA O TAMANHO, POSIÇÃO E DEIXA O DISPLAY */

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

/* EFEITO DE TRANSIÇÃO NA LOGO */

.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}

/* AJUSTA O TAMANHO DA FONTE, OPACIDADE E TRANSIÇÃO DO DIV logo_details  ONDE FICA O NOME MENU E O BOTÃO PARA ABRIR O MENU */

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

/* AJUSTA A OPACIDADE DO MENU AO SER ABERTO */

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}

/* AJUSTA POSIÇÃO, TAMANHO DA FONTE, POSIÇÃO DO TEXTO E TRANSIÇÃO DO MENU  */

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* DEIXA O TEXO DO MENU POSICIONADO A DIREITA QUANDO ESTÁ ABERTO */

.sidebar.open .logo-details #btn{
  text-align: right;
}

/* MUDA A COR, TAMANHO DA FONTE, ALTURA DA LINHA E TAMANHO MINIMO DA LISTA QUE ESTÁ NO MENU */

.sidebar i{
  color: #fff;
  height: 70px;
  min-width: 5px;
  font-size: 28px;
  text-align: center;
  line-height: 70px;
}

/* DEFINE ALTURA E MARGEM DE CIMA DA LISTA, A LISTA É O QUE CONTEM O LINKS QUE DIRECIONAM PARA AS OUTRAS PAGINAS DO SITE */

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

/* DEFINE POSIÇÃO, MARGIM E TIRA OS PONTINHOS QUE GERALMENTE APARECEM EM CADA ITEM DA LISTA  */

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

/* DEFINE A POSIÇÃO, COR DE FUNDO, BORDA, SOMBRA, TAMANHO DA FONTE E ETC DA LISTA NO MENU */

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 10px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

/* QUANDO PASSAR O MOUSE SOBRE A DIV QUE TEM O CLASS=TOOLTIP ALTERARÁ A TRANSIÇÃO, TAMANHO E OPACIDADE */

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* QUANDO O MENU ESTIVER ABERTO A DIV QUE TEM O CLASS=TOOLTIP NÃO IRÁ APARECER */

.sidebar.open li .tooltip{
  display: none;
}

/* MODIFICA TAMANHO, ALTURA, ALINHAMENTO, COR DE FUNDO, TRANSIÇÃO E BORDA REDONDA DE TODOS OS ATRIBUTOS <a> DENTRO DO MENU */

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

/*  QUANDO O MOUSE PASSAR PELO ATRIBUTO <a> DENTRO DO MENU MUDARÁ A COR DE FUNDO */

.sidebar li a:hover{
  background: #FFF;
}

/* MODIFICA COR, TAMANHO DA FONTE, OPACIDADE E TRANSIÇÃO DA DIV COM O CLASS=links_name */

.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

/* QUANDO O MENU ESTÁ ABERTO MUDA A OPACIDADE */

.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

/* QUANDO O MOUSE PASSAR PELA DIV CLASS=links_name E O ATRIBUTO i ADICIONA TRANSIÇÃO E MUDAR A COR DA FONTE */

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}

/* MUDA A ALTURA, TAMANHO DA FONTE, BORDA REDONDA E ALTURA DA LINHA DO ATRIBUTO i  */

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

/* MUDA A POSIÇÃO, TAMANHO, ALTURA, COR DE FUNDO E TRANSIÇÃO DA DIV COM CLASS=PROFILE */

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 75px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

/* QUANDO O MENU ESTIVER ABERTO A DIV COM CLASS=PROFILE MUDARA O TAMANHO */

.sidebar.open li.profile{
  width: 250px;
}

/* DEIXA A DIV COM CLASS=PROFILE-DETAILS FLEXIVEL E MUDA O ALINHAMENTO */

.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* DEFINE ALTURA, TAMANHO, MARGEN E BORDA REDONDA DA IMAGEM DENTRO DO MENU */

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

/* DEFINE O TAMANHO, COR E O ESPESSURA DA FONTE   */

.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

/* DEFINE TAMANHO DA FONTE */

.sidebar li.profile .job{
  font-size: 12px;
}

/* DEFINE POSIÇÃO, TRANSIÇÃO, BORDA ARRENDONDA, ALTURA, TAMANHO E COR DE FUNDO    */

.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

/* ALTERA O FUNDO E O TAMANHO */

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

/* DEFINE A POSIÇÃO, COR DE FUNDO, ALTURA MINIMA, TAMANHO E TRANSIÇÃO */

.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

/* QUANDO O MENU ESTÁ ABERTO A DIV COM CLASS=HOME-SECTION ALTERA O SEU TAMANHO */

.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

/* DEFINE A COR, TAMANHO, ESPESSURA E MARGEN DA DIV COM CLASS=HOME-SECTION */

.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

/* A DIV CLASS=TOOLTIP NÃO APARECE QUANDO O MENU ESTÁ ABERTO */

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* EM TELAS MENORES QUE 450PX O MENU IRÁ SUMIR E MUDARÁ A MARGEN ESQUERDA DO TEXTO NO RODAPÉ */

@media only screen and (max-width: 450px) {
  .tudo .sidebar{
    display: none;
  }
  .text-center{
        margin-left: 0px;
    }
}


@media only screen and (min-width: 450px) {
    .menu-mobile{
        display: none;
    }
    #cadmt{
    margin-left: 80px;
    }
    .text-center{
        margin-left: 80px;
    }
}


/* MUDA A COR, TAMANHO E POSIÇÃO DO RODAPÉ */

    footer{
        bottom:0px;
        width:100%;
        position:fixed;
        color:white;
        background-color: #11101D;
    }
    #insta{
        color:white;
        margin-left:10px;
    }

/* ALTERA MARGEN E TAMANHO DO CONTAINER */

    #cadm{
      margin: auto;
      max-width: 450px;
    }
    #cadmt{
      margin-bottom: 50px;
      margin-top: 20px;
    }

/* ALTERA  TAMANHO DO CONTAINER */

    #medi{
      max-width: 700px;
    }

/* ALTERA MARGEN DO INPUT DE BUSCA */

    #pesq{
        margin-right:10px;
        margin-left:10px;
    }

/* ALTERA MARGEN E POSIÇÃO */

    #cadt{
      margin:auto;
    }

    #enviar{
        margin-bottom: 200;
    }


</style>
</head>
<body>  
<!-- MENU -->    

<div class="tudo">

    <!-- MENU QUE SÓ APARECE QUANDO A TELA É MENOR QUE 450PX -->
    
        <nav class="menu-mobile" style="color: white; background: #11101D; width: 100%; height: 50px;"><svg style="height: 50px;"  id="btn2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></nav>
    
    <!-- BOTÃO QUE ABRE O MENU -->
    
          <div class="sidebar">
            <div class="logo-details">
                <div class="logo_name">Menu</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <div class="menu-close">
            <ul class="nav-list">
    
    <!-- DIRECIONA PARA O INICIO -->
    
              <li>
                <a href="/Inicio">
                  <i class='bx bx-home-circle'></i>
                  <span class="links_name">inicio</span>
                </a>
                 <span class="tooltip">Inicio</span>
              </li>
    
    <!-- DIRECIONA PARA O HISTORICO -->
    
              <li>
               <a href="/Historico">
                 <i class='bx bx-history' ></i>
                 <span class="links_name">Histórico</span>
               </a>
               <span class="tooltip">Histórico</span>
             </li>
    
    <!-- DIRECIONA PARA O LOCALIZAÇÃO -->
    
             <li>
               <a href="/Localizacao">
                 <i class='bx bx-location-plus' ></i>
                 <span class="links_name">Localização</span>
               </a>
               <span class="tooltip">Localização</span>
             </li>
    
    <!-- DIRECIONA PARA O CADASTRO DE MEDIDORES -->
    
             <li>
               <a href="/Medidor">
                 <i class='bx bx-message-alt-add' ></i>
                 <span class="links_name">Cadastrar medidor</span>
               </a>
               <span class="tooltip">Medidor</span>
             </li>
    
    <!-- DIRECIONA PARA OS MEDIDORES CADASTRADOS -->
    
             <li>
               <a href="/medidores-cadastrados">
                 <i class='bx bx-tachometer' ></i>
                 <span class="links_name">Medidores cadastrados</span>
               </a>
               <span class="tooltip">Medidores cadastrados</span>
             </li>
    
    <!-- DIRECIONA PARA O CADASTRO DE MEDIÇÕES -->
    
             <li>
               <a href="/Cadastrar-medicoes">
                 <i class='bx bx-bar-chart-alt-2' ></i>
                 <span class="links_name">Cadastrar vazões</span>
               </a>
               <span class="tooltip">Cadastrar vazões</span>
             </li>
    
    <!-- DIRECIONA PARA O SEU PERFIL -->
    
             <li>
               <a href="/Seus-dados">
                 <i class='bx bx-user' ></i>
                 <span class="links_name">Perfil</span>
               </a>
               <span class="tooltip">Perfil</span>
             </li>
    
    <!-- BOTÃO QUE ENCERRA A SESSÃO -->
    
             <li class="profile">
                 <div class="profile-details">
                    <img id="logo" src="img/Logo.png">
                   <div class="name_job">
                     <div class="name">Projeto 1</div>
                     <div class="job">Medidor inteligente</div>
                   </div>
                 </div>
                 <a href="/Sair">
                 <i class='bx bx-log-out' id="log_out" ></i>
                </a>
             </li>
            </ul>
        </div>
          </div>
      <script>

// ABRE O MENU QUANDO O DISPOSITIVO TEM MENOS DE 45O PX

$("#btn2").click(function(){
     $(".sidebar.open").show(250);
    });

      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let closeBtn2 = document.querySelector("#btn2");

// ABRE OU FECHA O MENU QUANDO O MOUSE PASSA PELO ICONE DE MENU
    
      closeBtn.addEventListener("mouseenter", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
      });

      closeBtn2.addEventListener("mouseenter", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange2();
      });

      function menuBtnChange() {
       if(sidebar.classList.contains("open")){
         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
       }else {
         closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
       }
      }

// FECHA O MENU QUANDO O DISPOSITIVO TEM MENOS DE 45O PX

      function menuBtnChange2() {
        $("#btn").click(function(){
        $(".sidebar").hide(250);
        });
      }

      </script>

    <!-- CONTAINER-->

  <div id="cadt" class="container">
  <div id="cadm" class="container">
    <div id="cadmt" class="container">

    <!-- FORMULARIO DE CADASTRO DE MEDIDORES -->

     <form action="/Medidor" method="POST" class="mb-3 row">

        <!-- RECEBE O NOME-->

        <div class="mb-3  row"  data-bs-toggle="tooltip" data-bs-placement="right" title="O medidor deve ter um nome unico">
            <label for="codigo_medidor" class="form-label">Codigo:</label>
            <input type="number" name="codigo_medidor" class="form-control" id="codigo_medidor">
        </div>

        <!-- RECEBE O NOME-->

        <div class="mb-3  row"  data-bs-toggle="tooltip" data-bs-placement="right" title="O medidor deve ter um nome unico">
            <label for="nome_med" class="form-label">Nome:</label>
            <input type="text" name="nome_med" class="form-control" id="nome_med" placeholder="Medidor" MAXLENGTH=50>
        </div>

          <!-- RECEBE A CIDADE-->

        <div class="mb-3  row">
            <label for="m_cidade" class="form-label">Cidade:</label>
            <input type="text" name="m_cidade" class="form-control" id="m_cidade" placeholder="Maceio" MAXLENGTH=100>
        </div>

        <!-- RECEBE O ESTADO -->

        <div class="mb-3  row">
            <label for="m_estado" class="form-label">Estado:</label>
            <select id="m_estado" name="m_estado" class="form-select" aria-label="Default select example">
            <option selected disabled >Selecione</option>
            <option value="Acre (AC)">Acre (AC)</option>
            <option value="Alagoas (AL)">Alagoas (AL)</option>
            <option value="Amapá (AP)">Amapá (AP)</option>
            <option value="Amazonas (AM)">Amazonas (AM)</option>
            <option value="Bahia (BA)">Bahia (BA)</option>
            <option value="Ceará (CE)">Ceará (CE)</option>
            <option value="Distrito Federal (DF)">Distrito Federal (DF)</option>
            <option value="Espírito Santo (ES)">Espírito Santo (ES)</option>
            <option value="Goiás (GO)">Goiás (GO)</option>
            <option value="Maranhão (MA)">Maranhão (MA)</option>
            <option value="Mato Grosso (MT">Mato Grosso (MT)</option>
            <option value="Mato Grosso do Sul (MS)">Mato Grosso do Sul (MS)</option>
            <option value="Minas Gerais (MG)">Minas Gerais (MG)</option>
            <option value="Pará (PA">Pará (PA)</option>
            <option value="Paraíba (PB)">Paraíba (PB)</option>
            <option value="Paraná (PR)">Paraná (PR)</option>
            <option value="Pernambuco (PE)">Pernambuco (PE)</option>
            <option value="Piauí (PI)">Piauí (PI)</option>
            <option value="Rio de Janeiro (RJ)">Rio de Janeiro (RJ)</option>
            <option value="Rio Grande do Norte (RN)">Rio Grande do Norte (RN)</option>
            <option value="Rio Grande do Sul (RS)">Rio Grande do Sul (RS)</option>
            <option value="Rondônia (RO)">Rondônia (RO)</option>
            <option value="Roraima (RR)">Roraima (RR)</option>
            <option value="Santa Catarina (SC)">Santa Catarina (SC)</option>
            <option value="São Paulo (SP)">São Paulo (SP)</option>
            <option value="Sergipe (SE)">Sergipe (SE)</option>
            <option value="Tocantins (TO)">Tocantins (TO)</option>
            </select>
        </div>

        <!-- RECEBE A LATITUDE -->

        <div class="mb-3  row">
            <label for="m_latitude" class="form-label">Latitude:</label>
            <input type="text" name="m_latitude" class="form-control" id="m_latitude" placeholder="" MAXLENGTH=100>
        </div>

        <!-- RECEBE A LONGITUDE -->

        <div class="mb-3  row">
            <label for="m_longitude" class="form-label">Longitude:</label>
            <input type="text" name="m_longitude" class="form-control" id="m_longitude" placeholder="" MAXLENGTH=100>
        </div>

          <!-- ENVIA OS DADOS DO CADASTRO -->

        <div id='enviar'class="mb-3 row">
            <button type="submit" class="btn btn-outline-primary mb-3">Cadastrar</button>
        </div>
      </form>

            <!-- EXIBE UMA MENSAGEM DE SUCESSO OU ERRO -->

      <% if (med_cad != ''){ %>
        <div style="text-align: center;" class="alert alert-success" role="alert">
          <%= med_cad %>
         </div>  
         <% } %>

         <% if (med_cad_err != ''){ %>
            <div style="text-align: center;" class="alert alert-danger" role="alert">
              <%= med_cad_err %>
           </div>  
        <% } %>
        
    </div>
    </div>
</div>
</div>

        <!--RODAPE DA PAGINA-->

        <footer  class="text-lg">
            <div class="text-lg p-3">
              <div class="text-center">
                <a  id="footer">Oficinas 4.0: Projeto 1 - prototipo de medidor inteligente</a>
                <a style="color:white;" href="https://oficinas40.vitoria.ifes.edu.br/">
                    <i class='bx bx-window'></i></a>                  
              <a style="color:white;" href="https://www.instagram.com/oficinas4.0/">
                    <i class='bx bxl-instagram-alt'></i></a></a>
              </div>
          </div>          
    </footer>
</body>
</html>