
            /* CENTRALIZA O TITULO */

            #title{
                text-align: center;
            }

            /* DEFINE O TAMANHO DO CONTAINER JUNTO COM A BORDA EM CIMA */

            .container{
                margin-top: 50px;
                width: 300px;
            }

            /* DEFINE A COR DO CORPO DA PAGINA */

            body{
                background-color: #1E90FF;
            }

            /* CENTRALIZA A IMAGEM E DEFINE A MARGEM DE BAIXO */

            #img{
                text-align: center;
                margin-bottom: 20px;
            }
            #cad{
                text-align: center;
            }
            #text{
                text-align: center;
            }