.offcanvas-title{
    color:blanchedalmond;
    }
    
    .nav-item a button{
        font-size: 20px;
    }
    #offcanvasWithBothOptions{
        width: 230px;
    }
    footer{
        bottom:0px;
        width:100%;
        position:fixed;
        color:blanchedalmond;
    }
    #bt{
        width: 75%;
        margin:auto;
        margin-top: 10px;
    }
    #sub{
        margin:auto;
    }
    .chart-container{
        margin:auto;
        min-width:300px;
        max-width: 700px;
    }
    #cont{
        width:100%;
        height: 50px;
        margin: auto;
    }
    nav{
        margin-bottom: 20px;
    }